<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>USDZ File</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pixar.universal-scene-description-mobile</string>
				<string>com.pixar.usd</string>
				<string>com.apple.quicklook.usdz</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Universal Scene Description (Mobile)</string>
			<key>UTTypeIdentifier</key>
			<string>com.pixar.universal-scene-description-mobile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>usdz</string>
				</array>
				<key>public.mime-type</key>
				<string>model/vnd.usdz+zip</string>
			</dict>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Camera access is not required for 3D model viewing and editing in this app.</string>
</dict>
</plist>
